* {
  margin: 0;
  padding: 0;
}

.backgroundbanner {
  margin: 7.25% auto 0 auto; /* căn giữa */
  width: 1320px;
  height: 500px;
  background: linear-gradient(315deg, #ffffff, #2c2c2c, #8e0000);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; /* để absolute con bám theo */
  overflow: hidden;
}

/* Nút tròn */
ul.stringbutton {
  position: absolute;
  bottom: 20px;
  display: flex;
  list-style: none;
  gap: 15px;
  z-index: 10;
}

li.button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  transition: 0.3s;
}

li.button.active {
  background: #fff;
}

/* Banner chứa ảnh */
.banner {
  width: 100%;
  height: 100%;
  position: relative;
}

img.imgbanner {
  width: 100%;
  height: 100%;
  object-fit: cover; /* giữ ảnh full khung */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.75s ease-in-out, visibility 0.75s;
}

img.imgbanner.active {
  opacity: 1;
  visibility: visible;
}
